/.vs/Orleans.StorageProvider.RavenDB/v17/TestStore/0/testlog.manifest
/.vs/Orleans.StorageProvider.RavenDB/DesignTimeBuild/.dtbcache.v2
/.vs/Orleans.StorageProvider.RavenDB/FileContentIndex/014beb99-5d30-4ae4-af47-f89d22a608de.vsidx
/.vs/Orleans.StorageProvider.RavenDB/FileContentIndex/104fa3ee-4946-4074-8a75-b22051e4d940.vsidx
/.vs/Orleans.StorageProvider.RavenDB/FileContentIndex/3f3adf01-7e9a-4e16-b5b7-bd3d04be558f.vsidx
/.vs/Orleans.StorageProvider.RavenDB/FileContentIndex/62622ac2-821d-4f8c-9c07-3a33c71cc83e.vsidx
/.vs/Orleans.StorageProvider.RavenDB/FileContentIndex/e58930a2-5575-4da1-b3a9-6126bd4910a2.vsidx
/.vs/Orleans.StorageProvider.RavenDB/v17/.futdcache.v2
/.vs/Orleans.StorageProvider.RavenDB/v17/.suo
/.vs/Orleans.StorageProvider.RavenDB/v17/DocumentLayout.backup.json
/.vs/Orleans.StorageProvider.RavenDB/v17/DocumentLayout.json
/.vs/Orleans.StorageProvider.RavenDB/v17/TestStore/0/000.testlog
